{# src/Aiki/SuscribeBundle/Ressources/views/Suscribe/index.html.twig  #}

{% extends "AikiSubscribeBundle::layout.html.twig" %}
{% block title %}
Enfants - {{ parent() }}
{% endblock %}
{% block sdzblog_body %}

<h1>Mise en place du formulaire</h1>


<div id="conteneur-inscript">
    <div id="inscript-etapes">
        <form id="formElem" name="formElem"action="{{ path('aiki_subscribe_add') }}" method="post" {{form_enctype(form) }}>
    {{ form_errors(form) }}
            <fieldset class="etap">
                <legend>{{ 'Child'|trans }}</legend>    
<p>
{{ form_label(form.persona.name, 'Name'|trans) }}
{{ form_errors(form.persona.name) }}
{{ form_widget(form.persona.name) }}
</p>
<p>
{{ form_label(form.persona.firstname, 'First Name'|trans) }}
{{ form_errors(form.persona.firstname) }}
{{ form_widget(form.persona.firstname) }}
</p>
<p>
{{ form_label(form.persona.gender, 'Gender'|trans) }}
{{ form_errors(form.persona.gender) }}
{{ form_widget(form.persona.gender) }}
</p>
<p>
{{ form_label(form.persona.dateofbirth, 'Date of birth'|trans) }}
{{ form_errors(form.persona.dateofbirth) }}
{{ form_widget(form.persona.dateofbirth) }}
</p>
<p>
{{ form_label(form.school.number, 'School number'|trans) }}
{{ form_errors(form.school.number) }}
{{ form_widget(form.school.number) }}
</p>
<p>
{{ form_label(form.school.city, 'City'|trans) }}
{{ form_errors(form.school.city) }}
{{ form_widget(form.school.city) }}
</p>
                        </fieldset>
<fieldset class="etap">
    <legend>{{ 'Parent'|trans }}</legend>
    
<p>
{{ form_label(form.tutor.persona.name, 'Name'|trans) }}
{{ form_errors(form.tutor.persona.name) }}
{{ form_widget(form.tutor.persona.name) }}
</p>
<p>
{{ form_label(form.tutor.persona.firstname, 'First Name'|trans) }}
{{ form_errors(form.tutor.persona.firstname) }}
{{ form_widget(form.tutor.persona.firstname) }}
</p>
<p>
{{ form_label(form.tutor.affiliation, 'Affiliation'|trans) }}
{{ form_errors(form.tutor.affiliation) }}
{{ form_widget(form.tutor.affiliation) }}
</p>
<p>Personne à contacter en cas d'accident</p>
<p>
{{ form_label(form.ice.name, 'Name'|trans) }}
{{ form_errors(form.ice.name) }}
{{ form_widget(form.ice.name) }}
</p>
<p>
{{ form_label(form.ice.firstname, 'First Name'|trans) }}
{{ form_errors(form.ice.firstname) }}
{{ form_widget(form.ice.firstname) }}
</p>
<p>
{{ form_label(form.ice.filiation, 'Affiliation'|trans) }}
{{ form_errors(form.ice.filiation) }}
{{ form_widget(form.ice.filiation) }}
</p>
<p>
{{ form_label(form.ice.tel.number, 'Number'|trans) }}
{{ form_errors(form.ice.tel.number) }}
{{ form_widget(form.ice.tel.number) }}
</p>
                        </fieldset>
<fieldset class="etap">
    <legend>{{ 'Adresse'|trans }}</legend>
<div>
{{ form_label(form.adress.street, 'Street'|trans) }}
{{ form_errors(form.adress.street) }}
{{ form_widget(form.adress.street) }}
</div>
<p>
    {{ form_label(form.adress.number, 'Number'|trans) }}
{{ form_errors(form.adress.number) }}
{{ form_widget(form.adress.number) }}
</p>
<p>
{{ form_label(form.adress.suffixnumber, 'Suffixe'|trans) }}
{{ form_errors(form.adress.suffixnumber) }}
{{ form_widget(form.adress.suffixnumber) }}
</p>
<p>
{{ form_label(form.adress.appt, 'Appt'|trans) }}
{{ form_errors(form.adress.appt) }}
{{ form_widget(form.adress.appt) }}
</p>
<p>
    {{ form_label(form.adress.postcode, 'Post code'|trans) }}
{{ form_errors(form.adress.postcode) }}
{{ form_widget(form.adress.postcode) }}
</p>
<p>
    {{ form_label(form.adress.city, 'Ville'|trans) }}
{{ form_errors(form.adress.city) }}
{{ form_widget(form.adress.city) }}
</p>
<p>
{{ form_label(form.tutor.mail.adress, 'Mail'|trans) }}
{{ form_errors(form.tutor.mail.adress) }}
{{ form_widget(form.tutor.mail.adress) }}
</p>
<p>
{{ form_label(form.tutor.tel.number, 'Tel'|trans) }}
{{ form_errors(form.tutor.tel.number) }}
{{ form_widget(form.tutor.tel.number) }}
</p>
                        </fieldset>
<fieldset class="etap">
    <legend>{{ 'Droits'|trans }}</legend>
    
    <p>
{{ form_label(form.approval.newsletter, 'Newsletter'|trans) }}
{{ form_errors(form.approval.newsletter) }}
{{ form_widget(form.approval.newsletter) }}
</p>

    <p>
{{ form_label(form.approval.image, 'Image'|trans) }}
{{ form_errors(form.approval.image) }}
{{ form_widget(form.approval.image) }}
</p>

<p>
        Everything in the form was correctly filled 
        if all the steps have a green checkmark icon.
        A red checkmark icon indicates that some field 
        is missing or filled out with invalid data. In this
        last step the user can confirm the submission of
        the form.
</p>
                            <p class="submit">
                                <button id="registerButton" type="submit">Register</button>
                            </p>
</fieldset>

{# Génération des champs pas encore écrits.
Dans cet exemple, ce serait « date », « auteur » et « publication »
,
mais aussi le champ CSRF (géré automatiquement par Symfony !)
et tous les champs cachés (type « hidden »). #}
{{ form_rest(form) }}

{# <input type="submit"  /> #}
</form>
                </div>
                <div id="inscript-nav" style="display:none;">
                    <ul>
                        <li class="selected">
                            <a href="#">{{ 'Child'|trans }}</a>
                        </li>
                        <li>
                            <a href="#">{{ 'Parent'|trans }}</a>
                        </li>
                        <li>
                            <a href="#">{{ 'Adresse'|trans }}</a>
                        </li>
                        <li>
                            <a href="#">{{ 'Droits'|trans }}</a>
                        </li>
                    </ul>
                </div>
            </div>
{% endblock %}

{% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/sliding.form.js') }}"></script>
{{ parent() }}
{% endblock %}
