{# src/Aiki/SuscribeBundle/Ressources/views/Suscribe/index.html.twig  #}

{% extends "AikiSubscribeBundle::layout.html.twig" %}
{% block title %}
Enfants - {{ parent() }}
{% endblock %}
{% block sdzblog_body %}

<h1>Mise en place du formulaire</h1>



<form action="{{ path('aiki_subscribe_add') }}" method="post" {{form_enctype(form) }}>

    {{ form_errors(form) }}
                        <fieldset class="etap">
                            <legend>{{ 'Enfant'|trans }}</legend>    
<p>
{{ form_label(form.persona.name, 'Nom'|trans) }}
{{ form_errors(form.persona.name) }}
{{ form_widget(form.persona.name) }}
</p>
<p>
{{ form_label(form.persona.firstname, 'Prenom'|trans) }}
{{ form_errors(form.persona.firstname) }}
{{ form_widget(form.persona.firstname) }}
</p>
<p>
{{ form_label(form.persona.gender, 'Genre'|trans) }}
{{ form_errors(form.persona.gender) }}
{{ form_widget(form.persona.gender) }}
</p>
<p>
{{ form_label(form.persona.dateofbirth, 'Date de naissance'|trans) }}
{{ form_errors(form.persona.dateofbirth) }}
{{ form_widget(form.persona.dateofbirth) }}
</p>
<p>
{{ form_label(form.school.number, 'Ecole numero'|trans) }}
{{ form_errors(form.school.number) }}
{{ form_widget(form.school.number) }}
</p>
<p>
{{ form_label(form.school.city, 'Ville'|trans) }}
{{ form_errors(form.school.city) }}
{{ form_widget(form.school.city) }}
</p>
                        </fieldset>
<fieldset class="etap">
    <legend>{{ 'Parent'|trans }}</legend>
    
<p>
{{ form_label(form.tutor.persona.name, 'Nom'|trans) }}
{{ form_errors(form.tutor.persona.name) }}
{{ form_widget(form.tutor.persona.name) }}
</p>
<p>
{{ form_label(form.tutor.persona.firstname, 'Prenom'|trans) }}
{{ form_errors(form.tutor.persona.firstname) }}
{{ form_widget(form.tutor.persona.firstname) }}
</p>
<p>
{{ form_label(form.tutor.affiliation, 'Affiliation'|trans) }}
{{ form_errors(form.tutor.affiliation) }}
{{ form_widget(form.tutor.affiliation) }}
</p>
<p>
{{ form_label(form.ice.name, 'Nom'|trans) }}
{{ form_errors(form.ice.name) }}
{{ form_widget(form.ice.name) }}
</p>
<p>
{{ form_label(form.ice.firstname, 'Prenom'|trans) }}
{{ form_errors(form.ice.firstname) }}
{{ form_widget(form.ice.firstname) }}
</p>
<p>
{{ form_label(form.ice.filiation, 'Affiliation'|trans) }}
{{ form_errors(form.ice.filiation) }}
{{ form_widget(form.ice.filiation) }}
</p>
<p>
{{ form_label(form.ice.tel.number, 'Numero'|trans) }}
{{ form_errors(form.ice.tel.number) }}
{{ form_widget(form.ice.tel.number) }}
</p>
                        </fieldset>
<fieldset class="etap">
    <legend>{{ 'Adresse'|trans }}</legend>
<p>
{{ form_label(form.adress.street, 'Rue'|trans) }}
{{ form_errors(form.adress.street) }}
{{ form_widget(form.adress.street) }}
</p>
<p>
    {{ form_label(form.adress.number, 'Numero'|trans) }}
{{ form_errors(form.adress.number) }}
{{ form_widget(form.adress.number) }}
</p>
<p>
{{ form_label(form.adress.suffixnumber, 'Suffixe'|trans) }}
{{ form_errors(form.adress.suffixnumber) }}
{{ form_widget(form.adress.suffixnumber) }}
</p>
<p>
{{ form_label(form.adress.appt, 'Appt'|trans) }}
{{ form_errors(form.adress.appt) }}
{{ form_widget(form.adress.appt) }}
</p>
<p>
    {{ form_label(form.adress.postcode, 'Code postal'|trans) }}
{{ form_errors(form.adress.postcode) }}
{{ form_widget(form.adress.postcode) }}
</p>
<p>
    {{ form_label(form.adress.city, 'Ville'|trans) }}
{{ form_errors(form.adress.city) }}
{{ form_widget(form.adress.city) }}
</p>
<p>
{{ form_label(form.tutor.mail.adress, 'Mail'|trans) }}
{{ form_errors(form.tutor.mail.adress) }}
{{ form_widget(form.tutor.mail.adress) }}
</p>
<p>
{{ form_label(form.tutor.tel.number, 'Tel'|trans) }}
{{ form_errors(form.tutor.tel.number) }}
{{ form_widget(form.tutor.tel.number) }}
</p>
                        </fieldset>
<fieldset class="etap">
    <legend>{{ 'Droits'|trans }}</legend>
    
    <p>
{{ form_label(form.approval.newsletter, 'Newsletter'|trans) }}
{{ form_errors(form.approval.newsletter) }}
{{ form_widget(form.approval.newsletter) }}
</p>

    <p>
{{ form_label(form.approval.image, 'Image'|trans) }}
{{ form_errors(form.approval.image) }}
{{ form_widget(form.approval.image) }}
</p>

</fieldset>

{# Génération des champs pas encore écrits.
Dans cet exemple, ce serait « date », « auteur » et « publication »
,
mais aussi le champ CSRF (géré automatiquement par Symfony !)
et tous les champs cachés (type « hidden »). #}
{{ form_rest(form) }}

<input type="submit"  />
</form>


<div id="conteneur-inscript">
                <div id="inscript-etapes">
                    <form id="formElem" name="formElem" action="" method="post">
                        <fieldset class="etap">
                            <legend>Account</legend>
                            <p>
                                <label for="username">User name</label>
                                <input id="username" name="username" />
                            </p>
                            <p>
                                <label for="email">Email</label>
                                <input id="email" name="email" placeholder="info@tympanus.net" type="email" AUTOCOMPLETE=OFF />
                            </p>
                            <p>
                                <label for="password">Password</label>
                                <input id="password" name="password" type="password" AUTOCOMPLETE=OFF />
                            </p>
                        </fieldset>
                        <fieldset class="etap">
                            <legend>Personal Details</legend>
                            <p>
                                <label for="name">Full Name</label>
                                <input id="name" name="name" type="text" AUTOCOMPLETE=OFF />
                            </p>
                            <p>
                                <label for="country">Country</label>
                                <input id="country" name="country" type="text" AUTOCOMPLETE=OFF />
                            </p>
                            <p>
                                <label for="phone">Phone</label>
                                <input id="phone" name="phone" placeholder="e.g. +351215555555" type="tel" AUTOCOMPLETE=OFF />
                            </p>
                            <p>
                                <label for="website">Website</label>
                                <input id="website" name="website" placeholder="e.g. http://www.codrops.com" type="tel" AUTOCOMPLETE=OFF />
                            </p>
                        </fieldset>
                        <fieldset class="etap">
                            <legend>Payment</legend>
                            <p>
                                <label for="cardtype">Card</label>
                                <select id="cardtype" name="cardtype">
                                    <option>Visa</option>
                                    <option>Mastercard</option>
                                    <option>American Express</option>
                                </select>
                            </p>
                            <p>
                                <label for="cardnumber">Card number</label>
                                <input id="cardnumber" name="cardnumber" type="number" AUTOCOMPLETE=OFF />
                            </p>
                            <p>
                                <label for="secure">Security code</label>
                                <input id="secure" name="secure" type="number" AUTOCOMPLETE=OFF />
                            </p>
                            <p>
                                <label for="namecard">Name on Card</label>
                                <input id="namecard" name="namecard" type="text" AUTOCOMPLETE=OFF />
                            </p>
                        </fieldset>
                        <fieldset class="etap">
                            <legend>Settings</legend>
                            <p>
                                <label for="newsletter">Newsletter</label>
                                <select id="newsletter" name="newsletter">
                                    <option value="Daily" selected>Daily</option>
                                    <option value="Weekly">Weekly</option>
                                    <option value="Monthly">Monthly</option>
                                    <option value="Never">Never</option>
                                </select>
                            </p>
                            <p>
                                <label for="updates">Updates</label>
                                <select id="updates" name="updates">
                                    <option value="1" selected>Package 1</option>
                                    <option value="2">Package 2</option>
                                    <option value="0">Don't send updates</option>
                                </select>
                            </p>
							<p>
                                <label for="tagname">Newsletter Tag</label>
                                <input id="tagname" name="tagname" type="text" AUTOCOMPLETE=OFF />
                            </p>
                        </fieldset>
						<fieldset class="etap">
                            <legend>Confirm</legend>
							<p>
								Everything in the form was correctly filled 
								if all the steps have a green checkmark icon.
								A red checkmark icon indicates that some field 
								is missing or filled out with invalid data. In this
								last step the user can confirm the submission of
								the form.
							</p>
                            <p class="submit">
                                <button id="registerButton" type="submit">Register</button>
                            </p>
                        </fieldset>
                    </form>
                </div>
                <div id="inscript-nav" style="display:none;">
                    <ul>
                        <li class="selected">
                            <a href="#">Account</a>
                        </li>
                        <li>
                            <a href="#">Personal Details</a>
                        </li>
                        <li>
                            <a href="#">Payment</a>
                        </li>
                        <li>
                            <a href="#">Settings</a>
                        </li>
						<li>
                            <a href="#">Confirm</a>
                        </li>
                    </ul>
                </div>
            </div>
{% endblock %}

{% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/sliding.form.js') }}"></script>
{{ parent() }}
{% endblock %}
